#header {
    display: flex;
}
#header > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#header .row {
    margin-top: 2rem;
    display: flex;
    width: max-content;
    gap: 2vmin;

}

#header img {
    width: 60vmin;
}