#services .list {
    display: flex;
    flex-direction: column;
    gap: 4vmin;
}


@media (max-width: 600px) {
    #services .columns {
        flex-direction: row;
        justify-content: space-around;
    }
}